.body{
    margin: auto;
    color: black;
}

.aug-form{
    margin: auto;
}

.aug-headerInfo{
    margin: auto;
}

.aug-headerInput{
    width: 45%;
    float: left;
    margin: 0 20px 10px 0px;
}

.aug-headerInput > .control-label{
    font-weight: bold;
}
.aug-header{
    font-size: x-large;
    font-weight: bold;
}

/*CSS for section 1*/
.aug-slo-header{
    font-size:large;
    font-weight: bold;
    width: fit-content;
    float: left;
}

#root_studentLearningOutcomes__description{
    font-size: larger;
    white-space: pre-line;
}

.aug-slo-table > .array-item {
    float: left;
}

.aug-table-slo-input{
    width: 60%;
    float: left;
}

.aug-table-slo-bloom{
    width: 30%;
    float: left;
    margin-left: 10px;
}
.aug-table-slo-input > textarea{
    resize: none;
}

/*CSS for section 2*/
.array-item .array-item{
    float: left;
    width: 50%;
    padding: 0 1em;
}

#root_assessmentMethods__description{
    font-size: larger;
}

.control-label{
   font-weight: bold;
}

/*CSS for section 3 */
.aug-dataSLOStatus{
    margin-top: 2px;
    margin-left: 10px;
    width: max-content;
    float: left;
}

#root_dataCollection_dataSLOStatusTable__description{
    font-size: larger;
}

/*CSS for section 4 */
#root_decisionsAndActions__description{
    font-size: larger;
    white-space: pre-line;
}

.aug-decisionsAndActionsSLODesc{
    float: left;
    width: 70%;
}

.aug-decisionsAndActionsSLODesc > textarea{
    resize: none;
}
/*CSS for section 5*/
#root_additionalInformation__description{
    font-size: larger;
}
.aug-additionalInformationDesc > textarea{
    font-size: larger;
    resize: none;
}