.body{
    margin: auto;
    color: black;
}

.nag-form{
    margin: auto;
}
/*CSS for header inputs*/
.nag-headerInfo{
    margin: auto;
}

.nag-headerInput{
    width: 45%;
    float: left;
    margin: 0 20px 10px 0px;
}

.nag-headerInput > .control-label{
    font-weight: bold;
}
.nag-header{
    font-size: x-large;
    font-weight: bold;
}

/*CSS for section 1*/
.nag-slo-header{
    font-size:large;
    font-weight: bold;
    width: fit-content;
    float: left;
}

#root_studentLearningOutcomes__description{
    font-size: larger;
    white-space: pre-line;
}

.nag-slo-table > .array-item {
    float: left;
}

.nag-table-slo-input, .nag-table-slo-bloom, .nag-table-slo-common{
    width: 30%;
    float: left;
}

.nag-table-slo-input > textarea{
    resize: none;
}

.nag-table-slo-bloom{
    margin-left: 5px;
}

.nag-table-slo-bloom > .control-label{
    font-weight: bold;
}

.nag-table-slo-common{
    margin-left: 5px;
}

.nag-table-slo-common > .control-label{
    font-weight: bold;
}

.proStandardsQuestion > .control-label{
    display: none;
}
.proStandardsQuestion > .field-description{
    font-size: larger;
}
.stakeholdersQuestion > .control-label{
    display: none;
}
.stakeholdersQuestion > .field-description{
    font-size: larger;
    white-space: pre-line;
}

/*CSS for section 2*/
.array-item .array-item{
    float: left;
    width: 50%;
    padding: 0 1em;
}

#root_assessmentMethods__description{
    font-size: larger;
}

.control-label{
    font-weight: bold;
}


/*CSS for section 3 */
.nag-dataResultsEntryName, .nag-dataResultsEntryRange,
.nag-dataResultsEntryNumStudents, .nag-dataResultsEntryPercStudents {
    width: 25%;
    margin: 0 0 0 0;
    float: left;
    display: grid;
}

.nag-dataResultsEntryName > label, .nag-dataResultsEntryRange > label,
.nag-dataResultsEntryNumStudents > label {
    padding-bottom: 18px;
    
}

.nag-dataSLOStatus{
    margin-top: 2px;
    margin-left: 10px;
    width: max-content;
    float: left;
}
#root_dataCollection_dataResultsArray__description,
#root_dataCollection_dataSLOStatusTable__description{
    font-size: larger;
}

.nag-dataResultsDescription > .control-label{
    display: none;
}
.nag-dataResultsDescription > .field-description{
    font-size: larger;
}

/*CSS for section 4 */
#root_decisionsAndActions__description{
    font-size: larger;
    white-space: pre-line;
}

.nag-decisionsAndActionsSLODesc{
    float: left;
    width: 70%;
}

.nag-decisionsAndActionsSLODesc > textarea{
    resize: none;
}

/*CSS for section 5*/

#root_additionalInformation__description{
    font-size: larger;
}

.nag-additionalInformationDesc > textarea{
    font-size: larger;
    resize: none;
}