.body{
    display: grid;  
    justify-content: center; /* Horizontal */  
    align-content: center; 
}

.rjsfForm{
    margin: auto;
}



.headerInfo{
    display:flex;
}

.headerInput{
    width: 40%;
    float: left;
    margin: 0 20px 10px 0px;
}

.slo-table{
    display: inline-block;
    width: 100%;
}

.table-slo-bloom, .table-slo-common{
    width: 25%;
    float: left;
    margin-left: 20px;
}

.table-slo-input{
    float: left;
    resize: none;
    width: 400px;
    overflow:auto;
}

.dataResultsEntryName, .dataResultsEntryRange,
.dataResultsEntryNumStudents, .dataResultsEntryPercStudents {
    width: 25%;
    margin: 0 0 0 0;
    float: left;
    display: grid;
}

.dataResultsEntryName > label, .dataResultsEntryRange > label,
.dataResultsEntryNumStudents > label {
    padding-bottom: 18px;
    
}

.dataResultsEntryName > input, .dataResultsEntryRange > input,
.dataResultsEntryNumStudents > input, .dataResultsEntryPercStudents > input {
    border-radius: 0%;
}